# MongoDB Connection String
MONGODB_URI=mongodb+srv://akib_dabgar:QKuGQUNM2@ep47E@cluster0.1vnd4f5.mongodb.net/api-monitoring?appName=Cluster0

# Server Port
PORT=3001

# Environment
NODE_ENV=production

# App Version
APP_VERSION=1.0.0
